html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #949494;
}

.element {
  min-height: 100vh;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./styles/images/background.jpg");
  background-size: cover;
  background-position: center;
}
